<h1>OK Captain</h1>
<br>
<%= link_to "Sign Up or Log In", new_user_registration_path %>
<br>
<%= link_to "User List", users_path %>
<br>
<%= link_to "Boat List", boats_path %>
<br>
<%= link_to "Create a New Boat", new_boat_path %>
<br>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>