<% if current_user || current_admin %>
	<%= form_for @boat, html: { multipart: true } do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br>
	<%= f.label :location %>
	<%= f.text_field :location %>
	<br>
	<!-- ^ change this to f.select/drop-down menu with list of cities? -->
	<%= f.label :capacity %>
	<%= f.number_field :capacity %>
	<br>
	<%= f.label "Photo" %>
	<%= f.file_field :boat_pic %>
	<% if current_admin %>
		<%= f.hidden_field :user_id, :value => current_admin.id %>
	<% else %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
	<% end %>
	<br>
	<%= f.submit "Create My Boat" %>
	<% end %>
	<br>
	<% if @boat.errors.full_messages.any? %>
	  <ul>
	    <% @boat.errors.full_messages.each do |error_message| %>
	      <li><%= error_message%></li> <br />
	    <% end %>
	  </ul>
	<% end %>
<% else %>
<% end %>
<%= link_to "Go Home", '/' %>