<!-- boat name & info -->
Boat Name: <%= @boat.name %>
<br>
<%= image_tag @boat.boat_pic.url(:medium) %>
<br>
Location: <%= @boat.location %>
<br>
Capacity: <%= @boat.capacity %>
<br>
<% if @boat.user %>
	Belongs To: <a href="../users/<%= @boat.user_id %>"><%= @boat.user.email %></a>
<% else %>
	This boat has no captain!
<% end %>

<br>

<!-- button to follow/unfollow boat -->
<% if current_user || current_admin %>
	<% if !@follow %>
		<div class="follow-button">
		<%= button_to "Follow This Boat", {controller: "follows", action: "create", boat_id: @boat.id}, remote: true %>
		</div>
	<% else %>
		<div class="unfollow-button">
		<%= button_to "Unfollow This Boat", follow_path(@follow), method: :delete, remote: true %>
		</div>
	<% end %>
<% end %>
<!-- ^ might need to change the button_to parameters to incorporate UJS/AJAX - possibly action is completing (in controller) before js functions can run? -->

<%= @boat.name %> has <%= @follows.count %> follower<% if @follows.count != 1 %>s<% end %>!
<br>

<!-- buttons to edit/delete boat -->
<% if current_user || current_admin %>
	<% if current_admin || @boat.user_id == @current_user.id %>
		<%= link_to "Edit This Boat", edit_boat_path %>
		<br>
		<%= link_to "Delete This Boat", boat_path(@boat), method: :delete %>
	<% end %>
<% end %>

<hr>

<!-- form for new job -->
<% if current_user || current_admin %>
	<% if current_admin || @boat.user_id == @current_user.id %>
		Hire Me:
		<br>
		<%= form_for @job do |f| %>
			<%= f.label :name %>
			<%= f.text_field :name %>
			<br>
			<%= f.label :description %>
			<%= f.text_field :description %>
			<br>
			<%= f.label :containers %>
			<%= f.number_field :containers %>
			<br>
			<%= f.label :cost %>
			<%= f.number_field :cost, :class => 'text_field', :step => 0.01 %>
			<br>
			<%= f.label :origin %>
			<%= f.text_field :origin %>
			<br>
			<%= f.label :destination %>
			<%= f.text_field :destination %>
			<% if current_admin %>
			<!-- ^ change these two to f.select / drop-down menus with list of cities? -->
				<%= f.hidden_field :user_id, :value => current_admin.id %>
			<% else %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
			<% end %>
			<%= f.hidden_field :boat_id, :value => @boat.id %>
			<%= f.submit %>
			<hr>
		<% end %>
			<% if @job.errors.full_messages.any? %>
			  <ul>
			    <% @job.errors.full_messages.each do |error_message| %>
			      <li><%= error_message%></li> <br />
			    <% end %>
			  </ul>
			<% end %>
	<% end %>
<% end %>

<!-- list of current jobs -->
<% if @jobs.count > 0 %>
	Current Jobs:
	<br>
	<br>
	<% @jobs.each do |job| %>
		Job Name: <%= job.name %>
		<br>
		Cargo Description: <%= job.description %>
		<br>
		Price: $<%= job.cost %>0
		<br>
		Container Count: <%= job.containers %>
		<br>
		Origin: <%= job.origin %>
		<br>
		Destination: <%= job.destination %>
		<br>
		<% if current_user || current_admin %>
			<% if current_admin || @boat.user_id == @current_user.id %>
				<%= link_to "Edit This Job", edit_job_path(job.id) %>
				<br>
				<%= link_to "Delete This Job", job_path(job), method: :delete %>
			<% end %>
		<% end %>
		<hr>
	<% end %>
<% end %>
<br>

<!-- link to go home -->
<%= link_to "Return to the Boat List", boats_path %>
<br>
<%= link_to "Go Home", '/' %>